---
export const prerender = true;

import { getCollection, render } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: { id: page.id },
    props: page,
  }));
}

const page = Astro.props;
const { Content } = await render(page);
---

<MainLayout>
  <div class="container max-w-3xl px-4 py-10 sm:py-16 md:py-20 mx-auto">
    <h1
      class="mx-auto mt-2 max-w-xl text-center text-4xl font-semibold tracking-normal text-balance text-gray-900 sm:text-5xl"
    >
      {page.data.title}
    </h1>
    <div class="mt-8">
      <article
        class="prose prose-base prose-pink mx-auto prose-headings:font-semibold prose-h1:mb-6 prose-h2:mb-4 prose-h3:mb-2 prose-p:leading-relaxed prose-p:text-gray-700 prose-li:my-2 prose-li:marker:text-pink-600 prose-table:w-full prose-table:rounded-lg prose-th:bg-gray-100 prose-td:border prose-td:border-gray-200 prose-blockquote:border-l-4 prose-blockquote:border-pink-400 prose-blockquote:bg-pink-50 prose-blockquote:p-4 prose-blockquote:text-gray-700 prose-a:text-pink-700 prose-a:underline hover:prose-a:text-pink-900"
      >
        <Content />
      </article>
    </div>
  </div>
</MainLayout>
