---
import Hero from "../components/home/Hero.astro";
import BlogPreview from "../components/blog/BlogPreview.astro";
import ClientsLogo from "../components/home/ClientsLogo.astro";
import Services from "../components/home/Services.astro";
import ContactForm from "../components/home/ContactForm.astro";
import MainLayout from "../layouts/MainLayout.astro";
import CompairBlock from "../components/home/CompairBlock.astro";
---

<MainLayout>
  <Hero />
  <CompairBlock />
  <ClientsLogo />
  <Services />
      <div class="text-center pt-20 px-4 sm:px-6 lg:px-8">
      <h2 class="text-4xl sm:text-5xl font-bold text-gray-900">
        Susisiekite su mumis
      </h2>
      <p class="mt-4 max-w-2xl mx-auto text-lg text-gray-600">
        Užpildykite formą ir užsisakykite sistemos demonstraciją
      </p>
    </div>
  <ContactForm />
  <BlogPreview />
</MainLayout>
