---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/shared/Footer.astro";
import Header from "../components/shared/Header.astro";
import TrialPopup from "../components/common/TrialPopup.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">  <head>
    <BaseHead 
      title={Astro.props.title ?? SITE_TITLE}
      description={Astro.props.description ?? SITE_DESCRIPTION}
      image={Astro.props.image ?? ""}
      canonical={Astro.props.canonical ?? ""}
      schema={Astro.props.schema ?? ""}
      noIndex={Astro.props.noIndex ?? false}
    />
  </head>  <body 
    class=""
    x-data="{ 
      trialPopupOpen: false
    }"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MN6S66J9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <Header />
    <main class="">
      <slot />
    </main>
    <Footer />
    
    <!-- Trial Popup - positioned over entire page -->
    <TrialPopup />
  </body>
</html>
